
:host {
  display: flex;
}

.side-menu {
  background-color: black;
  color: #fff;
  width: 220px;
  transition: width 0.3s ease;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;

  &.collapsed {
    width: 50px;

    .menu-items a {
      display: none;
    }
  }

  .toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    align-self: flex-end;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-left: 1rem;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      padding: 0.5rem;
      border-radius: 6px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #444;
      }
    }
  }
}

@media (max-width: 760px) {
  .side-menu {
    width: 100px;
  }
}
