<header>
    <h1>{{ currentLang === 'en' ? 'Tips for Your Photo Session in Malta' : 'Consejos para tu sesión de fotos en Malta' }}</h1>
    <p>{{ currentLang === 'en' ? 'Get ready and enjoy every moment with these helpful tips to make the most of your session.' : 'Prepárate y disfruta cada momento con estos consejos útiles para aprovechar al máximo tu sesión.' }}</p>
  </header>
  
  <div class="language-toggle">
    <button (click)="toggleLanguage()">Español / English</button>
  </div>
  
  <div class="cta-button">
    <a href="https://wa.me/35679552176?text=Hi%20Orlando!%20I%20saw%20your%20photography%20website%20and%20I’d%20love%20to%20book%20a%20session." target="_blank">Book Your Session</a>
  </div>

  <section *ngFor="let item of content[currentLang]">
    <h2>{{ item.title }}</h2>
    @if (item.section == 'style') {
        <!-- <div class="color-wheel">
            <div class="segment" *ngFor="let segment of segments; let i = index" [style.--i]="i"></div>
        </div>   -->
        <!-- <div class="color-wheel">
            <div
              class="segment"
              *ngFor="let color of segments; let i = index"
              [ngStyle]="{
                '--i': i,
                'background-color': color,
                'transform': 'rotate(' + (i * 30) + 'deg)'
              }">
            </div>
          </div> -->
          <div class="wheels">
            <div class="color-wheel">
                <div
                  *ngFor="let color of segments; let i = index"
                  class="segment"
                  [ngStyle]="{
                    'background-color': color,
                    'transform': 'rotate(' + i * 30 + 'deg)'
                  }"
                  [class.active]="activeIndices1.includes(i)"
                ></div>
              </div>
    
              <div class="color-wheel">
                <div
                  *ngFor="let color of segments; let i = index"
                  class="segment"
                  [ngStyle]="{
                    'background-color': color,
                    'transform': 'rotate(' + i * 30 + 'deg)'
                  }"
                  [class.active]="activeIndices2.includes(i)"
                ></div>
              </div>
          </div> 
    }
    @else {
        <img [src]="item.img" [alt]="item.title">
    }
    <ul>
      <li *ngFor="let tip of item.tips">{{ tip }}</li>
    </ul>
  </section>
  
  <footer>
    <p>© 2025 Photography by [Your Name] | Soulful & stylish sessions in Malta</p>
  </footer>