@use 'variables' as *;
@use 'mixins' as *;

.layout {
  min-height: 100%;
}

.main-content {
  align-items: center;
  width: 100%;
  flex: 1;

  @include respond-above($breakpoint-md) {
    padding-top: var(--site-header-height);
  }
}
