<div class="layout">
  <!-- <app-side-menu></app-side-menu> -->
  <div class="main-content">
    <router-outlet></router-outlet>
    <!-- FAB -->
    <button
      class="fab-menu"
      (click)="isMenuOpen = !isMenuOpen"
      aria-label="Open menu"
    >
      <span class="fab-icon" [class.open]="isMenuOpen">☰</span>
    </button>

    <!-- Menu -->
    <nav class="fab-nav" [class.open]="isMenuOpen">
      <a
        class="fab-nav-item"
        routerLink="/home"
        (click)="closeMenu()"
      >
        Home
      </a>

      <a
        class="fab-nav-item"
        routerLink="/portfolio"
        (click)="closeMenu()"
      >
        Portfolio
      </a>

      <a
        class="fab-nav-item"
        routerLink="/services"
        (click)="closeMenu()"
      >
        Services
      </a>

     <!-- <a
        class="fab-nav-item"
        routerLink="/about"
        (click)="closeMenu()"
      >
        About
      </a>-->

      <a
        class="fab-nav-item"
        routerLink="/suggestions"
        (click)="closeMenu()"
      >
        Suggestions
      </a>
    </nav>


  </div>
</div>

<footer>
  <p>&copy; 2026 Orlando.photo. All rights reserved.</p>
  <div class="social-links">
    <a href="https://instagram.com/orland.photo">Instagram</a>
    <a href="https://tiktok.com/@orlando.photo">TikTok</a>
  </div>
</footer>
