<div class="homepage-wrapper">
	<div class="hero-image">
	  <div class="overlay">
		<h1 class="title">Looking for a photoshoot in Malta?</h1>
		<p class="subtitle">Smile! :)</p>
		<a 
  href="https://wa.me/35679552176?text=Hi%20Orlando!%20I%20saw%20your%20photography%20website%20and%20I’d%20love%20to%20book%20a%20session."
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-cta"
>
  <i class="fab fa-whatsapp"></i>
  Book a Session!
</a>

	  </div>
	</div>

  <div class="social-media">
    <a href="https://instagram.com/orland.photo" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://tiktok.com/@orlando.photo" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-tiktok"></i>
    </a>
  </div>
  
  </div>
