.homepage-wrapper {
	width: 100%;
	height: 100vh;
	overflow: hidden;
  font-family: "Times New Roman", Times, serif;
	  
	.hero-image {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 95%), rgba(0,0,0,0) 40%), url('../../../assets/main-photo-web.jpeg');
	  background-size: cover;
	  background-position: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  
	  .overlay {
		width: 90%;
		background: rgba(0, 0, 0, 0.023);
		padding: 2rem;
		position: fixed;
		bottom: 2rem;
		border-radius: 1rem;
		text-align: center;
		color: white;
  
		.title {
		  font-size: 2.2rem;
		  font-weight: bold;
		  margin-bottom: 18rem;
		}
  
		.subtitle {
		  margin-top: 0.5rem;
		  font-size: 1.1rem;
		}

		.whatsapp-cta {
			display: inline-flex;
			align-items: center;
			gap: 0.5rem;
			background-color: #007BFF;
			color: white;
			padding: 0.75rem 1.25rem;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
			border-radius: 0.5rem;
			box-shadow: 0 4px 14px rgba(0, 123, 255, 0.4);
			transition: all 0.3s ease;
			cursor: pointer;
		  
			i {
			  font-size: 1.2rem;
			}
		  
			&:hover {
			  background-color: #0056d2;
			  transform: translateY(-2px);
			  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.5);
			}
		  
			&:active {
			  transform: scale(0.98);
			}
		  }
		  
		  
  
		.cta-button {
		  margin-top: 1rem;
		  padding: 0.75rem 1.5rem;
		  background-color: #ffffff;
		  color: #000000;
		  border: none;
		  border-radius: 0.5rem;
		  font-size: 1rem;
		  cursor: pointer;
		  transition: background-color 0.3s;
  
		  &:hover {
			background-color: #f0f0f0;
		  }
		}
	  }
	}

	.social-media {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		gap: 2rem;
		z-index: 10;
	  
		a {
		  color: white;
		  font-size: 1.5rem;
		  transition: transform 0.2s ease, color 0.2s ease;
	  
		  &:hover {
			transform: scale(1.2);
			color: #ff4081; // puedes ajustar el color a tu gusto
		  }
		}
	  }
	  
  }
  
