/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #121212;
  }
  